body{
    background-image: url("https://images.pexels.com/photos/326311/pexels-photo-326311.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
}
#bioPic{
    width: 200px;
    height: 225px;
    margin: 10px;
    float: left;
    border-radius: 50%;
}

#contactHead
{
    font-size: xx-large;
    font-family: 'Squada One', cursive;
}

.textStyle{
    font-size: large;
    font-family: 'Squada One', cursive;
}

.elementBack{
    background-image: url("https://images.pexels.com/photos/82256/pexels-photo-82256.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
}

.headStyle{
    color: white;
    font-family: 'Fredericka the Great', cursive;
}
.projectDiv{
    background-image: url("https://images.pexels.com/photos/4039781/pexels-photo-4039781.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-size: cover;
    display: inline-block;
    margin: 25px;
    width:290px;
    height:500px;
    text-align: center;
    border-radius:5%;
}
.nailPic{
    margin-right:auto;
    margin-left:auto;
    width:40%;
    content: url("https://freepngimg.com/thumb/screw/2-screw-png-image-thumb.png");
    transform: rotate(190deg);
    position:relative;
    bottom:70px;
    right:25px;
}
.projectPic{
    height:150px;
    width:90%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 50px;
    position:relative;
    bottom:90px;
}
.projectName{
    position:relative;
    bottom:110px;
}

.projectDesc{
    margin-top: 50px;
    font-weight: 575;
    position:relative;
    bottom:110px;
}
.projectLinks{
    display:block;
    position:relative;
    bottom:110px;
    font-weight: 575;
}

