body{
    background-image: url("https://images.pexels.com/photos/326311/pexels-photo-326311.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
}
#bioPic{
    width: 200px;
    height: 225px;
    margin: 10px;
    float: left;
    border-radius: 50%;
}

#contactHead
{
    font-size: xx-large;
    font-family: 'Squada One', cursive;
}

.textStyle{
    font-size: large;
    font-family: 'Squada One', cursive;
}

.elementBack{
    background-image: url("https://images.pexels.com/photos/82256/pexels-photo-82256.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
}

.headStyle{
    color: white;
    font-family: 'Fredericka the Great', cursive;
}
.projectPic{
    height:110px;
    width:90%;
    margin-left:auto;
    margin-right:auto;
}