#bioPic{
    width: 200px;
    height: 225px;
    margin: 10px;
    float: left;
    border-radius: 50%;
}
#bioText{
    font-size: large;
}
#bio{
    background-color: whitesmoke;
}
body{
    background-image: url("https://images.unsplash.com/photo-1575986564440-821ebda523f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
}