.navBar{
    background-color: rgb(158, 158, 158);
    position:sticky;
    top:0;
    z-index: 2;
}
.navItem{
    display:inline-block;
    text-align:right;
    margin-right:25px;
}
.navItem:hover{
    color:white;
    cursor:pointer;
}
@media screen and (max-width:400px) {
    .navHead{
        position:relative;
        top:5px;
        display: block;
        text-align: left;
    }
    .navItem{
        display:inline-block;
        text-align:right;
        margin-right:15px;
    }
}