.navBar{
    background-color: rgb(158, 158, 158);
    position:sticky;
    top:0;
}
.navItem{
    display: inline-block;
    text-align: right;
    margin-right:25px;
}
.navItem:hover{
    color:white;
    cursor:pointer;
}