.project{
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(108,154,237,0.7122199221485469) 100%);
    margin-bottom:25px;
    margin-top:25px;
    padding:5px;
}
.projectImage{
    display: block;
    margin-right:auto;
    margin-left:auto;
    width:60%;
}
.projectLink{
    text-align: center;
    display: block;
    font-size: large;
}
h2{
    text-align: center;
}
p{
    font-size: large;
}
@media screen and (min-width:800px) {
    .projectRight{
        position: relative;
        left:55%;
        margin-right:20px;
    }
    .projectLeft{
        position:relative;
        left:20%;
    }
}




