.bioCard{
    background: rgb(255,255,255);
    background: linear-gradient(315deg, rgba(255,255,255,.75) 0%, rgba(108,154,237,.75) 100%);
    padding:5px;
}
.bioPic{
    width:190px;
    float:left;
    margin-left:10px;
    margin-right:15px;
    margin-top:10px;
}
.bioText{
    font-size: large;
    display:inline;
}
@media screen and (max-width:400px) {
    #bioText{
        display: block;
        font-size: large;
    }
    #bioPic{
    float:none;
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    margin-bottom:10px; 
    }
}