.contactCard{
    background: rgb(255,255,255);
    background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(108,154,237,0.7122199221485469) 100%);
    padding:25px;
}
.cardHeader{
    text-align: center;
}
.cardText{
    text-align: center;
    font-size: large;
}
.contactBold{
    font-weight:500;
    margin-top:25px;
}