.bioCard{
    display: inline-block;
    position:relative;
    left:15px;
    top:15px;
    width:60%;
}
.contactCard{
    position:relative;
    float:right;
    margin-right:50px;
    margin-top:15px;
    width:30%;
}
.languageCard{
    position:relative;
    width:30%;
    float:right;
    margin-right:50px;
}
.techCard{
    width:60%;
    position:relative;
    left:15px;
    top:71px;
}