.home{
    background-image: url("https://images.pexels.com/photos/167699/pexels-photo-167699.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 94vh;
}

.bioCard{
    display: inline-block;
    position:relative;
    left:15px;
    top:15px;
    width:60%;
}
.contactCard{
    float:right;
    margin-right:50px;
    margin-top:15px;
    width:30%;
}
.languageCard{
    width:30%;
    float:right;
    margin-right:50px;
}